body {
  font-family: sans-serif;
  margin: 0;
  background: white;
  color: black;
}

#intro,
#clowder,
#vet,
.pen {
  border: solid grey thin;
  padding: 1ex 1em;
  background: #def;
  overflow: hidden;
}

.cat {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 1ex;
  padding: 0;
  max-width: 5em;
}

.cat figcaption {
  position: absolute;
  top: 0;
  left: 1ex;
  color: #fff;
  text-shadow: 0 0 1em black;
  max-width: 15vmin;
}

.cat img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: grayscale(100%);
  display: block;
}

.cat:hover img {
  filter: none;
}

footer {
  clear: both;
  text-align: center;
  padding-top: 2em;
}

#intro .new {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: absolute;
  right: 1rem;
  bottom: 1rem;

  box-sizing: border-box;
  width: 9rem;
  height: 9rem;
  padding: 1.5rem;

  transform: rotate(20deg);

  color: black;
  background-image: url(../i/star.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

#intro {
  min-height: 10rem;
  padding-right: 11rem;
  position: relative;
}
