body {
  font-family: sans-serif;
  margin: 0;
  background: white;
  color: black;
}

#intro,
#clowder,
#vet,
.pen,
main.settings > * {
  border: solid grey thin;
  padding: 1ex 1em;
  background: #def;
  overflow: hidden;
}

#vet {
  position: relative;
}

.cat {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 1ex;
  padding: 0;
  max-width: 5em;
}

.cat figcaption {
  position: absolute;
  top: 0;
  left: 1ex;
  color: #fff;
  text-shadow: 0 0 1em black;
  max-width: 15vmin;
}

.cat img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: grayscale(100%);
  display: block;
}

.cat:hover img {
  filter: none;
}

footer {
  clear: both;
  text-align: center;
  padding-top: 2em;
}

#new {
  position: absolute;
  right: 0;
  top: 0%;

  padding: 1rem;
  height: 8rem;
  max-height: 80%;
  transform: rotate(20deg);
  transition: 0.15s ease-in-out;
}

#new:hover {
  transform: scale(1.05) rotate(10deg);
}

#intro {
  padding-right: 11rem;
  position: relative;
}

#settings {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 3rem;
  font-size: 2rem;
  text-decoration: none;
}
