body {
  perspective: 100vw;
}

figure[draggable] {
  transition: all 0.25s ease-in-out;
  cursor: move;
}

figure[draggable]:hover {
  transform: scale(1.01) rotateY(-5deg) rotateX(2.5deg) rotateZ(-0.5deg);
  box-shadow: 0 1ex 2em #999;
}
