body,
main {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template:
    "  .  .        .      .      .  " 1vmin
    "  .  intro    intro  intro  .  " auto
    "  .  .        .      .      .  " 1vmin
    "  .  clowder  .      vet    .  " 1fr
    "  .  .        .      .      .  " 1vmin
    / 1vmin 1fr 1vmin 1fr 1vmin;
}

#clowder,
#vet {
  position: relative;
}

#clowder {
  grid-area: clowder;
}

#vet {
  grid-area: vet;
}

#intro {
  grid-area: intro;
}
